.destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: start;

        .planet-image {
            display: flex;
            justify-content: center;
            img {
                width: 50vw;
            }
            margin-bottom: 20px;
        }
    }

    main {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;

        .destination-option {
            font-family: 'Barlow Condensed', sans-serif;
            display: flex;
            gap: 30px;
            color: #d0d6f9;

            p {
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
            }

            p::after {
                content: '';
                position: absolute;
                width: 0;
                height: 5px;
                background-color: white;
                top: 25px;
                left: 0;
            }

            p.active {
                color: white;
            }

            p.active::after {
                width: 100%;
            }
        }

        .destination-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .head {
                font-family: 'Bellefair', serif;
                font-size: 58px;
                color: white;
                font-weight: 200;
                margin: 20px 0 10px;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .destination-details {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0;

            li {
                .detail-head {
                    font-size: 14px;
                    letter-spacing: 2px;
                    color: #d0d6f9;
                    font-family: 'Barlow Condensed', sans-serif;
                    margin-bottom: 10px;
                }

                .detail-text {
                    font-size: 29px;
                    color: white;
                    font-family: 'Bellefair', serif;
                }
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: start;

            .planet-image {
                display: flex;
                justify-content: center;
                img {
                    width: 50vw;
                }
                margin-bottom: 20px;
            }
        }

        main {
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: center;

            .destination-option {
                font-family: 'Barlow Condensed', sans-serif;
                display: flex;
                gap: 30px;
                color: #d0d6f9;

                p {
                    position: relative;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                p::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 5px;
                    background-color: white;
                    top: 25px;
                    left: 0;
                    transition: all 0.2s ease-in-out;
                }

                p.active {
                    color: white;
                }

                p.active::after {
                    width: 100%;
                }

                p:hover::after {
                    transition: all 0.2s ease-in-out;
                    width: 100%;
                }
            }

            .destination-content {
                .head {
                    font-family: 'Bellefair', serif;
                    font-size: 58px;
                    color: white;
                    font-weight: 200;
                    margin: 20px 0 10px;
                    text-transform: uppercase;
                }
            }

            .destination-details {
                display: flex;
                flex-direction: row;
                gap: 100px;
                text-align: center;
                text-transform: uppercase;
                margin: 20px 0;

                li {
                    .detail-head {
                        font-size: 14px;
                        letter-spacing: 2px;
                        color: #d0d6f9;
                        font-family: 'Barlow Condensed', sans-serif;
                        margin-bottom: 10px;
                    }

                    .detail-text {
                        font-size: 29px;
                        color: white;
                        font-family: 'Bellefair', serif;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .destination {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 100px;
        gap: 120px;

        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: start;

            .planet-image {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                img {
                    width: 40vw;
                }
                margin-bottom: 20px;
            }
        }

        main {
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .destination-option {
                font-family: 'Barlow Condensed', sans-serif;
                display: flex;
                gap: 30px;
                color: #d0d6f9;

                p {
                    position: relative;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                p::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 5px;
                    background-color: white;
                    top: 25px;
                    left: 0;
                }

                p.active {
                    color: white;
                }

                p.active::after {
                    width: 100%;
                }
            }

            .destination-content {
                align-items: flex-start;

                .head {
                    font-family: 'Bellefair', serif;
                    font-size: 108px;
                    color: white;
                    font-weight: 200;
                    margin: 40px 0 10px;
                    text-transform: uppercase;
                }
            }

            .divider {
                display: none;
            }

            .destination-details {
                display: flex;
                flex-direction: row;
                gap: 100px;
                text-align: center;
                text-transform: uppercase;
                margin: 20px 0;
                margin-top: 50px;

                li {
                    .detail-head {
                        font-size: 14px;
                        letter-spacing: 2px;
                        color: #d0d6f9;
                        font-family: 'Barlow Condensed', sans-serif;
                        margin-bottom: 10px;
                    }

                    .detail-text {
                        font-size: 29px;
                        color: white;
                        font-family: 'Bellefair', serif;
                    }
                }
            }
        }
    }
}
