nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  @media (max-width: 600px) {
    margin-top: 20px;
  }

  .logo {
    margin: 0 4vw;
    width: 48px;
    height: 48px;
  }

  .menu-icon {
    display: none;
    margin: 0 4vw;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .nav-links {
    min-height: 98px;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 600px) {
      display: none;
    }

    .bg-blur {
      width: 100%;
      height: 100%;
      background-color: #9797971c;
      position: absolute;
      backdrop-filter: blur(20px);
      top: 0;
      right: 0;
    }

    .nav-link {
      text-transform: uppercase;
      margin: 0 2vw;
      position: relative;
      color: white;

      span {
        font-weight: bold;
        margin-right: 0.5vw;
      }
    }

    .nav-link::after {
      position: absolute;
      left: 0;
      bottom: -200%;
      content: '';
      height: 3px;
      width: 0;
      background-color: white;
    }

    .nav-link.active::after {
      width: 100%;
    }
  }

  .nav-links-dropdown {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    transition: right ease-in-out 0.3s;

    @media (max-width: 600px) {
      display: flex;
    }

    &.active {
      right: 0;
    }

    .outer {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .inner {
      position: absolute;
      z-index: 1;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 12vh 10vw;

      .bg-blur {
        width: 100%;
        height: 100%;
        background-color: #9797971c;
        position: absolute;
        backdrop-filter: blur(20px);
        top: 0;
        right: 0;
      }

      .close-icon {
        position: absolute;
        top: 30px;
        right: 20px;
      }

      .nav-link {
        text-transform: uppercase;
        margin: 20px 0;
        position: relative;
        color: white;

        span {
          font-weight: bold;
          margin-right: 0.5vw;
        }
      }
    }
  }
}
