* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.app {
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #d0d6f9c5;
}

#home,
#crew,
#destination,
#technology {
  min-height: calc(100vh - (98px + 40px));

  .page-header {
    font-size: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
    color: white;
    letter-spacing: 1px;
    margin-bottom: 50px;

    span {
      color: gray;
      margin-right: 1vw;
    }
  }
}

$ascent: #d0d6f9;

.bellefair {
  font-family: 'Bellefair', serif;
  font-weight: 300;
}

.paragraph {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
  font-weight: 300;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
